<div id="about">
  <h1>Syllabus</h1>
  
  <p> The course content for this course is borrowed primarily from
     <%= link_to "the Michael Hartl Ruby on Rails Tutorial.", 
                 "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book " %>
    <br/>Our lectures correspond loosely with abbreviated versions of chapters
    from the Hartl tutorial.
  </p>

  <ul>
    <% @courses.each do |week, course| %>
      <li>
        Week <%= week %> : <%= course[:title] %>
        <% if course[:published] %>
          <ul>
            <li>
                <strong>
                <%= link_to "Slides", asset_path("lecture_#{week}.pdf"), :target => '_blank'  %>
                |
                <%= link_to "Code", asset_path("lecture_#{week}.txt"), :target => '_blank'  %>
                </strong>
             </li> 
             <% (course[:links] || []).each do |title, link| %>
               <li><%= link_to title, link, :target => '_blank' %></li>
             <% end %>
              
              <% if [7,8].include? week %>
                <li>
                  <%= link_to 'solutions', asset_path("lecture_#{week}_solutions.txt"), :target => '_blank' %>
                </li>
              <% end %>

          </ul>
        <% end %>
      </li>
   
    <% end %>
  </ul>

</div>
