<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : RedAllOver  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120604

-->

<html>
<head>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>INFO 2310</title>
<link href="http://fonts.googleapis.com/css?family=Abel|Arvo" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="menu-wrapper">
	<div id="menu">
		<ul>
		  <% main_links.each do |lbl, link| %>
				<li <%= link == request.path ? 'class=current_page_item' : '' %>>
					<%= link_to lbl, link %>
				</li>
			<% end %>
		</ul>
	</div>
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
			<h1><a href="#">INFO 2310</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">

      <%= yield %>

  	</div>
  </div>
</div>
<div id="footer">
	<p>Design by <a href="http://www.freecsstemplates.org/">FCT</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>

